@using Microsoft.AspNetCore.Identity
@using Taurus.Areas.Identity.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<!DOCTYPE html>
<html>
<head>
    <title>MedArt | @ViewData["Title"]</title>
    <link rel="icon" href="~/images/logo_medart.png">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/toasty.js/dist/toasty.min.css" />
    <script src='~/lib/jquery/dist/jquery.min.js'></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src='~/js/jquery.collapsible.min.js'></script>
    <script src='~/js/swiper.min.js'></script>
    <script src='~/js/jquery.countdown.min.js'></script>
    <script src='~/js/circle-progress.min.js'></script>
    <script src='~/js/jquery.countTo.min.js'></script>
    <script src='~/js/jquery.barfiller.js'></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/moment-with-locales.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="~/css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/notification.css">
</head>
<body>


    <header class="site-header">
        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                        <div class="site-branding d-flex align-items-center">
                            <a class="d-block" href="/" rel="home"><img class="d-block" src="/images/logo.png" alt="logo"></a>
                        </div><!-- .site-branding -->

                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-items-center">
                                <li class="current-menu-item"><a href="/">Home</a></li>
                                <li><a href="/Panel">Rooms</a></li>
                                <li><a href="/Question">Question</a></li>

                                @if (SignInManager.IsSignedIn(User)) {
                                <div class="dropdown show">
                                    <li class="dropdown-toggle" href="#" role="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-bell"></i>&nbsp;(<span id="notificationCount"></span>)
                                    </li>

                                    <div class="dropdown-menu notification-dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <h6 style="color:black" class="dropdown-header">Notifications</h6>

                                        <div id="notificationsContainer" class="notifications-container">
                                            @*<a class="dropdown-item dropdown-notification" style="color: black" href="#">
                                                    <div class="notification-read">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                    </div>
                                                    <img class="notification-img" src="https://placehold.it/48x48" alt="Icone Notification" />
                                                    <div class="notifications-body">
                                                        <p class="notification-texte">"Lorem ipsum dolor sit amet, consectetur adipiscing </p>
                                                        <p class="notification-date text-muted">
                                                            <i class="fa fa-clock-o" aria-hidden="true"></i> Monday, 10 May, 8h00
                                                        </p>
                                                    </div>
                                                </a>*@
                                        </div>

                                    </div>
                                </div>
                                @if (!User.IsInRole("Doctor"))
                                {
                                    <div class="dropdown show">
                                        <li class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-bookmark"></i>&nbsp;(<span id="bookmarkCount"></span>)
                                        </li>

                                        <div class="dropdown-menu notification-dropdown-menu" aria-labelledby="dropdownMenuLink" id="bookmark">
                                            <h6 style="color:black" class="dropdown-header">Bookmarks</h6>

                                            <div id="bookmarksContainer" class="notifications-container">
                                                @*<a class="dropdown-item dropdown-notification" style="color: black" href="#">
                                                        <div class="notification-read">
                                                            <i class="fa fa-times" aria-hidden="true"></i>
                                                        </div>
                                                        <img class="notification-img" src="https://placehold.it/48x48" alt="Icone Notification" />
                                                        <div class="notifications-body">
                                                            <p class="notification-texte">"Lorem ipsum dolor sit amet, consectetur adipiscing </p>
                                                            <p class="notification-date text-muted">
                                                                <i class="fa fa-clock-o" aria-hidden="true"></i> Monday, 10 May, 8h00
                                                            </p>
                                                        </div>
                                                    </a>*@
                                            </div>
                                        </div>
                                    </div>
                                }
                                }


                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <li>
                                        <a href="/Profile">@User.Identity.Name</a>
                                    </li>
                                    <li>
                                        <a href="/Logout">Logout</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a class="d-flex justify-content-center" href="/Login">Login</a>

                                    </li>
                                }
                            </ul>
                        </nav><!-- .site-navigation -->

                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->



    </header><!-- .site-header -->

    @RenderBody()

    <footer class="site-footer">
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="foot-about">
                            <h2><a href="#"><img src="/images/logo.png" alt=""></a></h2>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.</p>

                            <p class="copyright">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div><!-- .foot-about -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                        <div class="foot-contact">
                            <h2>Contact</h2>

                            <ul class="p-0 m-0">
                                <li><span>Addtress:</span>Mitlton Str. 26-27 London UK</li>
                                <li><span>Phone:</span>+53 345 7953 32453</li>
                                <li><span>Email:</span>yourmail@gmail.com</li>
                            </ul>
                        </div>
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                        <div class="foot-links">
                            <h2>Useful Links</h2>

                            <ul class="p-0 m-0">
                                <li><a href="/">Home</a></li>
                                <li><a href="/About">About us</a></li>
                                <li><a href="/Contact">Contact</a></li>
                                <li><a href="/News">News</a></li>
                                <li><a href="/Services">Services</a></li>
                            </ul>
                        </div><!-- .foot-links -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-widgets -->
    </footer><!-- .site-footer -->

    @if (SignInManager.IsSignedIn(User))
    {
        <script>
            
            $(document).ready(function () {
                
                var connection = new signalR.HubConnectionBuilder().withUrl("/notificationHub").build();
                connection.on("ReceiveNotifications", (data) => {
                    data = JSON.parse(data);
                    $('#notificationCount').text(`${data.length}`)
                    $("#notificationsContainer").html("");
                    for (var i = 0; i < data.length; i++) {
                        $("#notificationsContainer").prepend(
                            `<a class="dropdown-item dropdown-notification notification-unread" style="color: black" href="#">
                                        <div class="notifications-body">
                                            <p class="notification-texte"><b>${data[i].Title}</b></p>
                                            <p class="notification-texte">${data[i].Description}</p>
                                            <p class="notification-date text-muted">
                                                <i class="fa fa-clock-o" aria-hidden="true"></i> ${moment(data[i].CreatedAt).format('dddd, DD MMMM, hh:mm ')}
                                            </p>
                                        </div>
                                    </a>`
                        );
                    }
                });
                @*var notificationHeartbeat = function () {
                    $.get('@Url.Action("GetPendingNotifications", "Profile")')
                        .done(function (data) {
                            data = data.data;
                            data = JSON.parse(data);
                            $('#notificationCount').text(`${data.length}`)
                            $("#notificationsContainer").html("");
                            for (var i = 0; i < data.length; i++) {
                                $("#notificationsContainer").prepend(
                                    `<a class="dropdown-item dropdown-notification notification-unread" style="color: black" href="#">
                                        <div class="notifications-body">
                                            <p class="notification-texte"><b>${data[i].Title}</b></p>
                                            <p class="notification-texte">${data[i].Description}</p>
                                            <p class="notification-date text-muted">
                                                <i class="fa fa-clock-o" aria-hidden="true"></i> ${moment(data[i].CreatedAt).format('dddd, DD MMMM, hh:mm ')}
                                            </p>
                                        </div>
                                    </a>`
                                );
                            }
                        });
                }*@

                connection.on("receiveSessions", (data) => {
                    data = JSON.parse(data);
                    $('#bookmarkCount').text(`${data.length}`)
                    $('#bookmarksContainer').html('');
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].Url == "") {
                            $("#bookmarksContainer").prepend(
                                `<a class="dropdown-item dropdown-notification notification-unread" style="color: black" href="#">
                                        <div class="notifications-body">
                                            <p class="notification-texte">${data[i].Message}</p>
                                        </div>
                                    </a>`
                            )
                        }
                        else {
                            $("#bookmarksContainer").prepend(
                                `<a target="_blank" class="dropdown-item dropdown-notification notification-unread" style="color: black" href="${data[i].Url}">
                                        <div class="notifications-body">
                                            <p class="notification-texte">${data[i].Message}</p>
                                        </div>
                                    </a>`
                            )
                        }
                    }
                });

                connection.start();
                @*var bookmarkHeartbeat = function () {
                    $.get('@Url.Action("GetPendingSessions", "Profile")')
                        .done(function (data) {
                            data = data.data;
                            data = JSON.parse(data);
                            $('#bookmarkCount').text(`${data.length}`)
                            $('#bookmarksContainer').html('');
                            for (var i = 0; i < data.length; i++) {
                                if (data[i].Url == "") {
                                    $("#bookmarksContainer").prepend(
                                        `<a class="dropdown-item dropdown-notification notification-unread" style="color: black" href="#">
                                        <div class="notifications-body">
                                            <p class="notification-texte">${data[i].Message}</p>
                                        </div>
                                    </a>`
                                    )
                                }
                                else {
                                    $("#bookmarksContainer").prepend(
                                        `<a target="_blank" class="dropdown-item dropdown-notification notification-unread" style="color: black" href="${data[i].Url}">
                                        <div class="notifications-body">
                                            <p class="notification-texte">${data[i].Message}</p>
                                        </div>
                                    </a>`
                                    )
                                }
                            }
                        });
                }
                
                
                function heartBeat() {
                    notificationHeartbeat();
                    bookmarkHeartbeat();
                }

                heartBeat();
                setInterval(heartBeat, 10000);*@
                
            });
        </script>
    }

    <script src='~/js/custom.js'></script>
    <script src="~/lib/toasty.js/dist/toasty.min.js"></script>
</body>
</html>