@{
    ViewData["Title"] = "Profile";
}

@model Doctor
<div class="the-profile">
    <div class="container" style="min-height: 550px;">
        <div class="row">
            <div class="col-md-3 col-12 text-center">
                <div class="card" style="width: auto;">
                    <img src="@Model.User.Avatar" class="card-img-top" alt="avatar">
                    <div class="card-body text-center">
                        <h5 class="card-title">@Model.User.FullName</h5>
                        <p>
                            <b><i class="fa fa-money" aria-hidden="true" style="color:darkgreen"> : </i></b> @Model.User.Coins
                            <button type="button" class="btn btn-sm btn-primary ml-4" data-toggle="modal" data-target="#exampleModal2">
                                Withdraw
                            </button>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        @if (Model.IsDoctorOfTheMonth)
                        {
                        <li class="list-group-item"><img src="https://futhead.cursecdn.com/static/img/fm/17/resources/program_17_MOTM.png" width="64" height="64" /></li>
                        }
                        <li class="list-group-item"><b>Upvotes:</b> @Model.Votes.Count</li>
                        <li class="list-group-item"><b>Downvotes:</b> @Model.Flags.Count</li>
                    </ul>
                    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <article class="card">
                                    <div class="card-body p-5">
                                        <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="pill" href="#nav-tab-bank">
                                                    <i class="fa fa-university"></i>  Bank Transfer
                                                </a>
                                            </li>
                                        </ul> <!-- tab-content .// -->
                                        <div class="tab-content">
                                            <div class="tab-pane fade show active" id="nav-tab-bank">
                                                <p>Submit a request to our mail admin@taurus. Money will be withdrawn to your bank account in few minutes</p>
                                                <button class="subscribe btn btn-primary btn-block" type="button"> Confirm  </button>

                                            </div> <!-- tab-pane.// -->
                                        </div>
                                    </div> <!-- card-body.// -->
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary mt-1" data-toggle="modal" data-target="#exampleModal">
                    Update Profile
                </button>
                <button style="display: none;" id="launchBook" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalBookRoom">
                    Book Room
                </button>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Update Profile</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="@Url.Action("UpdateProfile","Profile")" method="post" id="update-profile-form">
                                <input type="hidden" name="Id" value="@Model.UserId" />
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="fullname">Name</label>
                                        <input type="text" id="fullname" class="form-control" value="@Model.User.FullName"
                                               name="FullName" />
                                    </div>
                                    <div class="form-group">
                                        <label for="gender">Gender</label>
                                        <select class="form-control" id="gender" name="Gender">
                                            <option value="1" selected>Male</option>
                                            <option value="2">Female</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <input type="text" id="address" class="form-control" value="@Model.User.Address"
                                               name="Address" />
                                    </div>
                                    <div class="form-group">
                                        <label for="city">City</label>
                                        <input type="text" id="city" class="form-control" value="@Model.User.City"
                                               name="City" />
                                    </div>
                                    <div class="form-group">
                                        <label for="country">Country</label>
                                        <input type="text" id="country" class="form-control" value="@Model.User.Country"
                                               name="Country" />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="update-user-btn">Update</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-12">
                <div class="appointment-box the-profile-wrap">
                    <h2 class="d-flex align-items-center">Make a Live Room!</h2>

                    <form method="post" action="@Url.Action("CreateRoom", "Room")" class="d-flex flex-wrap justify-content-between">

                        <input type="text" placeholder="Title" name="Title">

                        <input type="number" placeholder="Price (per min)" name="Price">

                        <input type="number" placeholder="Quota" name="Quota">

                        <input class="button gradient-bg" type="submit" value="Create">
                    </form>
                </div>
                <div class="calendar-border the-profile-wrap mt-5">
                    <h2 class="d-flex align-items-center">Reserve a Room</h2>
                    <div id="calendar" class="p-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="~/lib/fullcalendar/main.min.css">
<script src='~/lib/fullcalendar/main.min.js'></script>
<link rel="stylesheet" href="~/lib/fullcalendar/daygrid/main.min.css">
<script src='~/lib/fullcalendar/daygrid/main.min.js'></script>
<link rel="stylesheet" href="~/lib/fullcalendar/daygrid/main.min.css">
<script src='~/lib/fullcalendar/daygrid/main.min.js'></script>
<link rel="stylesheet" href="~/lib/fullcalendar/timegrid/main.min.css">
<script src='~/lib/fullcalendar/timegrid/main.min.js'></script>
<script src='~/lib/fullcalendar/interaction/main.min.js'></script>
<script>

    $(document).ready(function () {
        var calendarEl = document.getElementById('calendar');

        window.calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['dayGrid', 'interaction', 'timeGrid'],
            selectable: true,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            dateClick: function (info) {
                $("#timestart").val(info.dateStr + "T00:00:01");
                $("#timeend").val(info.dateStr + "T23:59:59");
                $("#launchBook").click();
            },
            eventSources: [
                {
                    url: '@Url.Action("GetRoomsWaiting","Room")',
                    type: 'GET',
                    error: function () {
                    },
                    textColor: 'white'
                }
            ]
        });

        window.calendar.render();

        $("#book-room-btn").click(function () {
            $.post($("#book-room-form").attr('action'), $("#book-room-form").serialize())
                .done(function (data) {
                    window.calendar.addEvent(data.data);
                    window.toast.success("Success!");
                })
                .fail(function (data) {
                    console.log(data);
                });
            $("#book-room-form").trigger("reset");
            $("#modalBookRoom").modal('hide');
        });

        $("#update-user-btn").click(function () {
            $.post($("#update-profile-form").attr('action'), $("#update-profile-form").serialize())
                .done(function (data) {
                    window.toast.success("Success!");
                })
                .fail(function (data) {
                    console.log(data);
                });
            $("#modalExample").modal('hide');
        });
    });

</script>

<div class="modal fade" id="modalBookRoom" tabindex="-1" role="dialog" aria-labelledby="modalBookRoomTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalBookRoomTitle">Book Room</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="book-room-form" action="@Url.Action("BookRoom", "Room")" method="post">
                    <div class="form-group">
                        <label for="title-text" class="col-form-label">Title</label>
                        <textarea class="form-control" name="Title" id="title-text"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="price" class="col-form-label">Price</label>
                        <input type="number" name="Price" class="form-control" id="price">
                    </div>
                    <div class="form-group">
                        <label for="quote" class="col-form-label">Quota</label>
                        <input type="number" name="Quota" class="form-control" id="quota">
                    </div>
                    <div class="form-group">
                        <label for="timestart" class="col-form-label">Estimate Time Start</label>
                        <input type="datetime-local" name="EstimateTimeStart" class="form-control" id="timestart">
                    </div>
                    <div class="form-group">
                        <label for="timeend" class="col-form-label">Estimate Time End</label>
                        <input type="datetime-local" name="EstimateTimeEnd" class="form-control" id="timeend">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="book-room-btn" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>