@{
    ViewData["Title"] = "Profile Customer";
    List<Session> sessions = ViewData["Sessions"] as List<Session>;
}


@model Customer
<div class="the-profile">
    <div class="container" style="min-height: 550px;">
        <div class="row">
            <div class="col-md-3 col-12" style="text-align:center">
                <div class="card" style="width: auto;">
                    <img src="@Model.User.Avatar" class="card-img-top" alt="avatar">
                    <div class="card-body text-center">
                        <h5 class="card-title">@Model.User.FullName</h5>
                        <b><i class="fa fa-money" aria-hidden="true" style="color:darkgreen"> : </i></b> @Model.User.Coins
                        <button type="button" class="btn btn-sm btn-primary ml-4" data-toggle="modal" data-target="#exampleModal2">
                            Deposit
                        </button>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Upvotes:</b> @Model.Votes.Count</li>
                        <li class="list-group-item"><b>Downvotes:</b> @Model.Flags.Count</li>
                    </ul>
                    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <article class="card">
                                    <div class="card-body p-5">
                                        <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="pill" href="#nav-tab-paypal">
                                                    <i class="fa fa-paypal" aria-hidden="true"></i>  Paypal
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="pill" href="#nav-tab-bank">
                                                    <i class="fa fa-university"></i>  Bank Transfer
                                                </a>
                                            </li>
                                        </ul> <!-- tab-content .// -->
                                            <div class="tab-content">
                                                <div class="tab-pane fade show active" id="nav-tab-paypal">
                                                    <form action="@Url.Action("Checkout","Payment")" method="get">
                                                        <p>
                                                            <label for="amount">Amount to deposit (in VND)</label>
                                                            <div class="input-group">
                                                                <input type="number" class="form-control" placeholder="Amount" id="amount" name="amount" aria-describedby="currency" />
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text" id="currency">VND</span>
                                                                </div>
                                                            </div>
                                                        </p>
                                                        <p>
                                                            <input type="submit" class="subscribe btn btn-primary btn-block mt-4" id="confirmTransfer" value="Confirm"/>
                                                            <strong>Conversion rate: </strong>1.000 VND = 1 C
                                                        </p>
                                                    </form>
                                                </div>
                                                <div class="tab-pane fade" id="nav-tab-bank">
                                                    <p>Transfer with the following details. Coins will be deposited in few minutes</p>
                                                    <dl class="param">
                                                        <dt>Account Number</dt>
                                                        <dd><input type="text" class="form-control" value="Về bờ trong ngày #000" readonly/></dd>
                                                    </dl>
                                                    <dl class="param">
                                                        <dt>Message</dt>
                                                        <dd><input type="text" class="form-control" value="Nạp tiền cho tài khoản <username>" readonly/></dd>
                                                    </dl>
                                                    <button class="subscribe btn btn-primary btn-block" data-dismiss="modal" type="button"> Confirm  </button>
                                                    
                                                </div> <!-- tab-pane.// -->
                                            </div>
                                    </div> <!-- card-body.// -->
                                </article>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <button type="button" class="btn btn-primary mt-1" data-toggle="modal" data-target="#exampleModal">
                    Update Profile
                </button>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Update Profile</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="@Url.Action("UpdateProfile","Profile")" method="post" id="update-profile-form">
                                <input type="hidden" name="Id" value="@Model.UserId" />
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="fullname">Name</label>
                                        <input type="text" id="fullname" class="form-control" value="@Model.User.FullName"
                                               name="FullName" />
                                    </div>
                                    <div class="form-group">
                                        <label for="gender">Gender</label>
                                        <select class="form-control" id="gender" name="Gender">
                                            <option value="1" selected>Male</option>
                                            <option value="2">Female</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <input type="text" id="address" class="form-control" value="@Model.User.Address"
                                               name="Address" />
                                    </div>
                                    <div class="form-group">
                                        <label for="city">City</label>
                                        <input type="text" id="city" class="form-control" value="@Model.User.City"
                                               name="City" />
                                    </div>
                                    <div class="form-group">
                                        <label for="country">Country</label>
                                        <input type="text" id="country" class="form-control" value="@Model.User.Country"
                                               name="Country" />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-12">
                <div class="appointment-box the-profile-wrap p-3" id="accordion">
                    <h2 class="d-flex align-items-center">Analytics</h2>
                    @if (sessions.Count() == 0)
                    {
                        <div>
                            <p>No analytics :( Seems this user hasnt created any sessions</p>
                        </div>
                    }
                    @foreach (Session s in sessions)
                    {
                        <div class="card">
                            <div class="card-header" style="padding: 0;" id="heading_@s.Id">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_@s.Id" aria-expanded="true" aria-controls="collapse_@s.Id">
                                        @s.Id
                                    </button>
                                </h5>
                            </div>

                            <div id="collapse_@s.Id" class="collapse" aria-labelledby="heading_@s.Id" data-parent="#accordion">
                                <div class="card-body">
                                    <p><b>Name:</b> @s.Room.Doctor.User.FullName</p>
                                    @if (s.Status == Taurus.Models.Enums.SessionStatus.DONE)
                                    {
                                        <p><b>Charged:</b> @s.GetTotalPrice() Coins</p>

                                        @*<p><b>At:</b> @s.StartTime.Value.ToLocalTime()</p>*@
                                    }
                                    else
                                    {
                                        <p><b>ON HOLD</b></p>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>