@{
    ViewData["Title"] = "Room Customer";
}

@{
    Layout = null;
    Customer u = ViewData["User"] as Customer;
    Room r = ViewData["Room"] as Room;
    Session s = ViewData["Session"] as Session;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Room</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css'>
    <link rel="stylesheet" href="~/css/room.css">


    <script src='~/lib/jquery/dist/jquery.min.js'></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js'></script>


    <script src="~/lib/webrtc-adapter/adapter.min.js"></script>
    <script src="~/lib/rtcmulticonnection/dist/RTCMultiConnection.min.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/socket.io/socket.io.js"></script>
    <script src="~/js/FileBufferReader.min.js"></script>
    <script src="~/lib/RecordRTC/RecordRTC.min.js"></script>
    <script>
        $(document).ready(function () {
            window.toast = new Toasty();

            var $messages = $('.messages-content'),
                d, h, m,
                i = 0;

            $messages.mCustomScrollbar();

            function updateScrollbar() {
                $messages.mCustomScrollbar("update").mCustomScrollbar('scrollTo', 'bottom', {
                    scrollInertia: 10,
                    timeout: 0
                });
            }

            function setDate() {
                d = new Date()
                m = d.getMinutes();
                $('<div class="timestamp">' + d.getHours() + ':' + m + '</div>').appendTo($('.message:last'));
            }

            function insertMessage() {
                var msg = $('.message-input').val();
                if ($.trim(msg) == '') {
                    return false;
                }
                $('<div class="message message-personal">' + msg + '</div>').appendTo($('.mCSB_container')).addClass('new');
                setDate();
                $('.message-input').val(null);
                updateScrollbar();

                connection.send({
                    chatMessage: msg
                });
            }

            function insertFile(msg) {
                $('<div class="message message-personal">' + msg + '</div>').appendTo($('.mCSB_container')).addClass('new');
                setDate();
                $('.message-input').val(null);
                updateScrollbar();
            }

            function appendMessage(msg) {
                $('<div class="message new">' + msg + '</div>').appendTo($('.mCSB_container')).addClass('new');
                setDate();
                updateScrollbar();
            }

            $(window).on('keydown', function (e) {
                if (e.which == 13) {
                    insertMessage();
                    return false;
                }
            })


            $('#show-menu').click(function () {
                $('.menu .items span').toggleClass('active');
                $('.menu #fuck').toggleClass('active');
            });

            $('#fade-button').click(function (e) {
                e.preventDefault();
                $('#chat-box').fadeOut("fast", function () {
                    $('#chat-bar').fadeIn("fast");
                });
            });

            $('#chat-bar').on("click", function () {
                $('#chat-bar').fadeOut("fast", function () {
                    $('#chat-box').fadeIn("fast");
                });
            })

            var ourVideo = document.getElementById("our-video-mb");
            var theirVideo = document.getElementById('their-video-mb');

            // shim
            window.adapter = true;

            var connection = new RTCMultiConnection();
            //connection.socketURL = 'http://35.247.52.75:9000/';
            connection.socketURL = 'https://rtcmulticonnection.herokuapp.com:443/';

            /* initializers */
            connection.userid = @u.UserId;
            connection.roomid = @r.Id;
            connection.mysessionid = @s.Id;
            connection.extra = {
                userId: connection.userid,
                roomId: connection.roomid,
                userFullName: "@u.User.FullName",
                isRoomMaster: false
            };
            connection.socketMessageEvent = "event-" + connection.roomid;

            connection.DetectRTC.load(function () {
                if (connection.DetectRTC.isWebRTCSupported === false || connection.DetectRTC.hasMicrophone === false || connection.DetectRTC.hasWebcam === false || connection.DetectRTC.hasSpeakers === false) {
                    alert('You dont fulfill requirements or your browser doesnt support WebRTC');
                    handleError("unsupported");
                    return;
                }

                if (navigator.connection &&
                    navigator.connection.type === 'cellular' &&
                    navigator.connection.downlinkMax <= 0.115) {
                    alert('Your connection is too slow for WebRTC to operate');
                    handleError("low-bandwidth");
                    return;
                }

                if (connection.DetectRTC.browser.name == "Safari") {
                    alert('You are using an unsupported browser. Please switch to Chrome or Firefox for the best performance');
                    handleError("unsupported");
                    return;
                }

                connection.checkPresence(connection.roomid, function (isRoomExist, roomid, error) {
                    if (!isRoomExist) {
                        handleError("room-not-exist");
                        return;
                    }

                    connection.join(connection.roomid, function (isRoomJoined, roomid, error) {
                        if (!isRoomJoined) {
                            handleError("not-joined");
                            return;
                        }
                        else {
                            activeSession();

                        }
                    });
                });
            });

            // connection.autoCloseEntireSession = true;
            // connection.maxParticipantsAllowed = 1000;
            connection.enableFileSharing = true;

            connection.session = {
                audio: true,
                video: true,
                data: true
            };

            connection.mediaConstraints = {
                audio: {
                    mandatory: {
                        echoCancellation: true,
                        googAutoGainControl: true,
                        googNoiseSuppression: true,
                        googHighpassFilter: true,
                        googTypingNoiseDetection: true,
                        //googAudioMirroring: true
                    },
                    optional: []
                },
                video: true
            };

            if (connection.DetectRTC.browser.name == "Firefox") {
                connection.mediaConstraints = {
                    audio: true,
                    video: true
                };
            }

            connection.sdpConstraints.mandatory = {
                OfferToReceiveAudio: true,
                OfferToReceiveVideo: true
            };

            connection.onEvent = function (event) {
                console.log(event);
            };

            connection.onopen = function (event) {
                connection.onEvent(event);
            };

            connection.onclose = connection.onleave = connection.onerror = function (event) {
                connection.onEvent(event);
                handleError("not-accepted");
            };


            connection.onmessage = function (event) {
                if (event.data.chatMessage) {
                    appendMessage(event.data.chatMessage);
                    return;
                }
            };

            var myStream;
            var theirStream;

            connection.onstream = function (event) {
                var element = null;

                if (event.type == 'local') {
                    myStream = event.stream;
                    element = ourVideo;
                    element.muted = true;
                    element.volume = 0;
                    element.controls = false;
                } else {
                    theirStream = event.stream;
                    element = theirVideo;
                    element.controls = false;
                    addModeration();
                }
                element.srcObject = event.stream;
                element.setAttribute("streamid", event.streamid);
                element.play();

                connection.onEvent(event);
            };

            connection.onstreamended = function (event) {
                var element = $(`video[streamid='${event.streamid}']`);
                element.removeAttribute('src');
                element.removeAttribute('srcObject');
                element.removeAttribute('streamid');
                theirStream = null;
                handleError("doctor-left");

                connection.onEvent(event);
            };



            $(".message-submit").on("click", function () {
                insertMessage();
            });

            function getFullName() {
                if (connection.peers[0].extra.userFullName) {
                    _userFullName = connection.peers[0].extra.userFullName;
                }
                return _userFullName;
            }

            $('.message-upload').on("click", function () {
                var file = new FileSelector();
                file.selectSingleFile(function (file) {
                    connection.send(file);
                    insertFile(getFileHTML(file));
                });
            });

            function getFileHTML(file) {
                var url = file.url || URL.createObjectURL(file);
                var attachment = '<a href="' + url + '" target="_blank" download="' + file.name + '"><b>' + file.name + '</b></a>';
                return attachment;
            }

            connection.onFileStart = function (file) {

            };

            connection.onFileProgress = function (file) {

            }

            connection.onFileEnd = function (file) {
                if (file.userid != connection.userid) {
                    appendMessage(getFileHTML(file));
                }
            };

            connection.autoSaveToDisk = false;


            window.addEventListener('unload', function () {
                endSession();
            })

            function handleError(error) {
                clearInterval(updateHeartbeat);
                endSession();
                window.toast.error(error);
                setTimeout(function () {
                    location.href = "/";
                }, 3000);
            }

            var updateHeartbeat;

            function activeSession() {
                $.post("@Url.Action("ActiveSession", "Session")", { id: connection.mysessionid })
                    .done(function (data) {
                        updateSession();
                        updateHeartbeat = setInterval(updateSession, 15000);
                        setInterval( function(){
                            $("#seconds").html(pad(++sec%60));
                            $("#minutes").html(pad(parseInt(sec/60,10)));
                        }, 1000);
                    })
                    .fail(function (data) {
                        handleError("api-error");
                    });
            }

            function updateSession() {
                $.post("@Url.Action("HbUpdateSession", "Session")", { id: connection.mysessionid })
                    .done(function (data) {
                    })
                    .fail(function (data) {
                        handleError("update-failed");
                    });
            }

            function endSession() {
                if (recorder != null) {
                    endModeration();
                }
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EndSession", "Session")',
                    async: false,
                    data: { id: connection.mysessionid }
                });
            }

            var recorder;
            var videoOnlyStream;
            window.blobs = [];
            function moderationProcess() {
                convertStreams(window.blobs[0]);
            }

            /*
             * moderation helpers
             */

            var workerPath = 'https://archive.org/download/ffmpeg_asm/ffmpeg_asm.js';
            if (document.domain == 'localhost') {
                workerPath = 'https://localhost:44375/js/ffmpeg_asm.js';
            }
            function processInWebWorker() {
                var blob = URL.createObjectURL(new Blob(['importScripts("' + workerPath + '");var now = Date.now;function print(text) {postMessage({"type" : "stdout","data" : text});};onmessage = function(event) {var message = event.data;if (message.type === "command") {var Module = {print: print,printErr: print,files: message.files || [],arguments: message.arguments || [],TOTAL_MEMORY: message.TOTAL_MEMORY || false};postMessage({"type" : "start","data" : Module.arguments.join(" ")});postMessage({"type" : "stdout","data" : "Received command: " +Module.arguments.join(" ") +((Module.TOTAL_MEMORY) ? ".  Processing with " + Module.TOTAL_MEMORY + " bits." : "")});var time = now();var result = ffmpeg_run(Module);var totalTime = now() - time;postMessage({"type" : "stdout","data" : "Finished processing (took " + totalTime + "ms)"});postMessage({"type" : "done","data" : result,"time" : totalTime});}};postMessage({"type" : "ready"});'], {
                    type: 'application/javascript'
                }));
                var worker = new Worker(blob);
                URL.revokeObjectURL(blob);
                return worker;
            }
            var worker;
            function convertStreams(videoBlob) {
                var aab;
                var buffersReady;
                var workerReady;
                var posted;
                var fileReader = new FileReader();
                fileReader.onload = function () {
                    aab = this.result;
                    postMessage();
                };
                fileReader.readAsArrayBuffer(videoBlob);
                if (!worker) {
                    worker = processInWebWorker();
                }
                worker.onmessage = function (event) {
                    var message = event.data;
                    if (message.type == "ready") {
                        workerReady = true;
                        if (buffersReady)
                            postMessage();
                    } else if (message.type == "stdout") {
                    } else if (message.type == "start") {
                    } else if (message.type == "done") {
                        var result = message.data[0];
                        var blob = new File([result.data], 'test.mp4', {
                            type: 'video/mp4'
                        });
                        PostBlob(blob);
                    }
                };
                var postMessage = function () {
                    posted = true;
                    worker.postMessage({
                        type: 'command',
                        arguments: '-i video.webm -c:v mpeg4 -b:v 6400k -strict experimental output.mp4'.split(' '),
                        files: [
                            {
                                data: new Uint8Array(aab),
                                name: 'video.webm'
                            }
                        ]
                    });
                };
            }
            function PostBlob(blob) {
                var form = new FormData();
                form.append("blob", blob); // fuck is a blob
                window.blobs.shift();
                $.ajax({
                    url: '@Url.Action("Moderation","Video")',
                    data: form,
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    success: function (data) {
                        $.get('https://api.sightengine.com/1.0/video/check-sync.json?models=nudity,wad,scam&stream_url=' + data.data + '&api_user=442186726&api_secret=FHzmjQiCUg2iQB9rUtQk')
                            .done(function (res) {
                                console.log(res);
                                res = res.data.frames;
                                var a = 0, b = 0, c = 0;
                                for (var i = 0; i < res.length; i++) {
                                    a += res.nudity.raw;
                                    b += (res.weapon + res.alcohol + res.drugs) / 3;
                                    c += res.scam.prob;
                                }
                                a = a / res.length; b = b / res.length; a = c / res.length;
                                console.log(`${a}, ${b}, ${c}`)
                                if (a > 0.5 || b > 0.5 || c > 0.2) {
                                    window.toast.warning(`Possible restricted content detected. ${flagged} / 3`);
                                    if (flagged >= 3) {
                                        window.toast.error("You are forced to end room! Your data has been recorded");
                                        endSession();
                                    }
                                }
                            })
                    }
                });
            }

            function addModeration() {
                videoOnlyStream = new MediaStream();
                myStream.getVideoTracks().forEach(function (track) {
                    videoOnlyStream.addTrack(track);
                })
                recorder = RecordRTC(videoOnlyStream, {
                    type: 'video',
                    recorderType: MediaStreamRecorder,
                    mimeType: 'video/webm',
                    timeSlice: 30000, // slice the blob
                    ondataavailable: function (blob) {
                        window.blobs.push(blob);
                        moderationProcess();
                    }
                });
                recorder.startRecording();
            }

            function endModeration() {
                // recording
                recorder.stopRecording();
                videoOnlyStream.stop();
                videoOnlyStream = null;
                recorder = null;
                window.blobs.length = 0;
            }

            var sec = 0;
            function pad(val) { return val > 9 ? val : "0" + val; }

            $("#end-room").on("click", function () {
                endSession();
                window.toast.warning("You will be redirected back in 3 seconds");
                setTimeout(function () {
                    location.href = "/";
                }, 3000);
            });

            $("#mute-room").on("click", function () {
                theirStream.getAudioTracks()[0].enabled = false;
                if (($("#unmute-room").is(":hidden"))) {
                    $("#unmute-room").prop("hidden", false);
                    $("#mute-room").prop("hidden", true);
                }
            });

            $("#unmute-room").on("click", function () {
                theirStream.getAudioTracks()[0].enabled = true;
                if (($("#mute-room").is(":hidden"))) {
                    $("#mute-room").prop("hidden", false);
                    $("#unmute-room").prop("hidden", true);
                }
            });
        });

    </script>

</head>
<body>
    <div class="container-fluid" style="height: auto; padding: 0;">
        <video autoplay playsinline id="their-video-mb" style="height: 100vh;"></video>
    </div>
    <div style=" border:1px solid white; max-width:50%;min-width:50%;min-height:36%;max-height:36%; position:absolute; right:0; bottom:0; z-index:1;">
        <video autoplay playsinline id="our-video-mb" muted></video>
    </div>

    <section id="chat-box" class="avenue-messenger">
        <div class="menu">

            <div class="button" id="fade-button">&mdash;</div>
        </div>
        <div class="chat">
            <div class="chat-title" style="padding-top:20px; padding-bottom: 20px;">
                <h1 class="chat-username">Chat Box</h1>
            </div>
            <div class="messages">
                <div class="messages-content"></div>
            </div>
            <div class="message-box">
                <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
                <button type="submit" class="message-submit">Send</button>
                <button class="message-submit message-upload"><i class="fa fa-upload"></i></button>
            </div>
        </div>

    </section>

    <div id="chat-bar" class="avenue-messenger-widget-mb d-flex justify-content-center align-items-center" style="display: none;">

        <i class="fa fa-2x fa-comment-o"></i>
    </div>
    <script src="~/lib/toasty.js/dist/toasty.min.js"></script>
</body>
</html>
