    @model PaginatedList<Room>

@foreach (Room r in Model)
{

    <div class="col-12 room-item" onclick="enterRoom(@r.Id)" style="cursor: pointer;">
        <div class="the-news-wrap rooms-border">
            <div class="row">
                <div class="col-12 col-md-2" style="margin: auto;">
                    <img src="@r.Doctor.User.Avatar" alt="" style="height: 100px; width: 100%; object-fit: contain;">
                </div>
                <div class="col-12 col-md-8">
                    <header class="entry-header">
                        <h4>@r.Title</h4>

                        <div class="post-metas d-flex flex-wrap align-items-center">
                            @if (r.Status == Taurus.Models.Enums.RoomStatus.PENDING)
                            {
                                <div class="posted-date"><label>Date: </label>@r.EstimateTimeStart.Value.ToString("dd/MM HH:mm") - @r.EstimateTimeEnd.Value.ToString("dd/MM HH:mm")</div>
                            }

                            <div class="posted-by"><label>By: </label><a href="#">@r.Doctor.User.FullName</a></div>

                            <div class="post-comments">@r.Sessions.Count / @r.Quota</div>
                        </div>
                    </header>
                </div>
                <div class="col-12 col-md-2 d-flex justify-content-center border-left" style="margin: auto;">
                    <footer class="entry-footer">
                        <p style="font-size: 3rem;">@r.Price C</p>
                    </footer>
                </div>
            </div>
        </div>
    </div>

}

<div class="col-12">
    <ul class="pagination d-flex flex-wrap align-items-center p-0">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            var isActive = Model.PageIndex == i ? "active" : "";
            <li class="@isActive" style="cursor:pointer" onclick="getRoomByPage(@i)"><a>@i</a></li>
        }
    </ul>
</div>

<script>
    //$(document).ready(function () {
    //    console.log();
    //})
    function enterRoom(roomId) {
        //var options = {           
        //    classname: "toast",           
        //    transition: "fade",            
        //    insertBefore: true,            
        //    duration: 3000,
        //    enableSounds: true,            
        //    autoClose: true,
        //    progressBar: true,            
        //    sounds: {
        //        // path to sound for informational message:
        //        info: "/lib/toasty.js/dist/sounds/info/1.mp3",
        //        // path to sound for successfull message:
        //        success: "/lib/toasty.js/dist/sounds/success/1.mp3",
        //        // path to sound for warn message:
        //        warning: "/lib/toasty.js/dist/sounds/warning/1.mp3",
        //        // path to sound for error message:
        //        error: "/lib/toasty.js/dist/sounds/error/1.mp3",
        //    },

        //    // callback:
        //    // onShow function will be fired when a toast message appears.
        //    onShow: function (type) { },

        //    // callback:
        //    // onHide function will be fired when a toast message disappears.
        //    onHide: function (type) { },

        //    // the placement where prepend the toast container:
        //    prependTo: document.body.childNodes[0]
        //};

        var toast = new Toasty();
            $.post("@Url.Action("CreateSession", "Session")", { RoomId: roomId })
                .done(function (resp) {                                        
                    toast.success("Successfully added to queue");
                    $.post("@Url.Action("CheckRoom", "Room")", { id: roomId, sessionId: resp.data })
                        .done(function (res) {
                            var roomUrl = '@Url.Action("EnterRoom", "Video", new { id = "noId" })';
                            roomUrl = roomUrl.replace("noId", roomId);                            
                            var win = window.open(roomUrl, '_blank');
                            if (win) {
                                //Browser has allowed it to be opened
                                win.focus();
                            } else {
                                //Browser has blocked it
                                alert('Please allow popups for this website');
                            }
                        });
                })
                .fail(function (resp) {                    
                    toast.error(resp.responseJSON.data);
                });
        }
</script>