@{
    ViewData["Title"] = "Room";
}
<link href="~/css/simple-sidebar.css" rel="stylesheet">
<link href="~/css/Panel.css" rel="stylesheet">

<div class="container-fluid toggled" style="margin-top:-25px; min-height: 500px;">    
    <div class="container" id="page-content-wrapper">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="sidebar" style="padding-top: 10px;">
                    <div class="sidebar-cats">
                        <h3 class="widget-title">Categories</h3>
                        <hr />
                        <ul class="accordion m-0 p-0" id="accordionExample">
                            <li>
                                <h5 class="text-primary" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="headingOne">
                                    Specialist
                                </h5>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                     data-parent="#accordionExample">

                                    <ul class="p-0 m-0">
                                        @foreach (Specialist s in (List<Specialist>)ViewData["Specialists"])
                                        {
                                            <li style="cursor:pointer;" onclick="getRoom('@Url.Action("GetRoomByCategory", "Panel", new { categoryId = s.Id })')">@s.Name</li>
                                        }
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <h5 class="text-primary" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" id="headingTwo">
                                    Facilities
                                </h5>

                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                     data-parent="#accordionExample">

                                    <ul class="p-0 m-0">
                                        @foreach (Facility f in (List<Facility>)ViewData["Facilities"])
                                        {
                                            <li style="cursor:pointer;" onclick="getRoom('@Url.Action("GetRoomByFacility", "Panel", new { facilityId = f.Id })')">@f.Name</li>
                                        }
                                    </ul>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <div class="the-news">
                    <div class="row" id="list-room">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>   

    var loadUrl;
    $(document).ready(function () {
        loadUrl = '@Url.Action("GetListActiveRoom", "Panel")';
        $("#list-room").load(loadUrl);
        setInterval(function () {
            $("#list-room").load(loadUrl);
        }, 30000);
    })

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        }
        else {
            return uri + separator + key + "=" + value;
        }
    }

    function getRoom(url) {
        loadUrl = url;
        console.log(loadUrl);
        $("#list-room").load(loadUrl);
    }
    function getRoomByPage(page) {
        var pageIndex = getParameterByName('pageIndex', loadUrl);

        if (pageIndex == null) {
            loadUrl = loadUrl + "?pageIndex=" + page;
        } else {
            loadUrl = updateQueryStringParameter(loadUrl, "pageIndex", page);
        }
        $("#list-room").load(loadUrl);
        }
</script>

